---
layout: default
title: GreenYouth Initiative
---
<header>
	<div class="container">
		<div class="column">
			<div>
				<h1 class="editable">Youth will save the world.</h1>
				<p class="editable">It is time for the youth to create actual impact, starting with their campuses.</p>
				<div class="button">
					<a href="#donate">Donate Now</a>
				</div>
			</div>
		</div>
		<div class="column">
			<img src="{{ site.baseurl }}/images/gy_logo.png" alt="GreenYouth Logo">
		</div>
	</div>
</header>

<div class="container">
	<h2 class="editable" style="text-align: center;">How will we bring change?</h2>

	<ul class="thirds">
		<li>
			<div class="image">{% include icons/site.html icon="conditions" %}</div>
			<h3 class="editable">Community</h3>
			<p class="editable">Students lie at the heart of GreenYouth and with a strong sense of community, we achieve collaboration.</p>
		</li>
		
		<li>
			<div class="image">{% include icons/site.html icon="population" %}</div>
			<h3 class="editable">Field Work</h3>
			<p class="editable">GYI encompasses projects in clean energy transformation, urban farming and more, with an initial focus on campuses.</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="economy" %}</div>
			<h3 class="editable">Development</h3>
			<p class="editable">GreenYouth provides SDG trainings to student communities and train-the-trainer materials to community leaders.</p>
		</li>

		
	</ul>
</div>

<div class="container">
	<div class="columns">
		<div>
			<img src="{{ site.baseurl }}/images/gy_hands.png" alt="GreenYouth Initiative">
		</div>
		<div>
			<h2 class="editable">Our Mission</h2>

			<p class="editable">Leave no one behind. Our mission to give the leaders of tomorrow the tools they need to empower their student community, aiming to create real change in areas including but not limited with the scope of the United Nations' Sustainable Development Goals. Youth will change the world!</p>
		</div>
	</div>
</div>

<div class="container">
	<hr>
	<blockquote>
		<p class="quote editable">Let us acknowledge and celebrate what youth can do to build a safer, more just world. Let us strengthen our efforts to include young people in policies, programmes and decision-making processes that benefit their futures and ours.</p>
		<div class="attribute">
			<p class="meta">
				<span class="image"><img class="editable" src="{{ site.baseurl }}/images/bankimoon.png" alt="Ban Ki-moon"></span>
				<span class="author editable"><strong>Ban Ki-moon</strong></span>
			</p>
		</div>
	</blockquote>
</div>

<div class="darker">
	<div class="container">
		<h2 class="editable">Join us</h2>
		<p class="editable" style="text-align: center;">Sign up to hear the latest news and progress in the forming of the GreenYouth Initiative.</p>
		<form action="{{ site.newsletter_action }}" method="post">
			<input type="text" name="EMAIL" placeholder="Email">
			<input type="submit" value="Sign up"/>
		</form>
	</div>
</div>

<div class="container" id="donate">
	<h2 class="editable">Make a donation</h2>
	<div class="donate">
		{{ site.donation_embed }}
	</div>
</div>

<div class="darker">
	<div class="container">
		<h2 class="editable">Updates</h2>
		<p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Update</a></p>
		<div class="posts">
			{% for post in site.posts %}
				<div class="post">
					<div class="image" style="background-image: url({{ post.featured_image}})"></div>
					<div class="post-content">
						<p class="date">{{ post.date | date: '%B %d, %Y' }}</p>
						<h3>{{ post.title }}</h3>

						{{ post.content }}
						<p class="editor-link"><a href="cloudcannon:collections/{{ post.path }}" class="btn"><strong>&#9998;</strong> Edit Update</a></p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
